[[source]]
url = "https://pypi.org/<%= projectName %>"
verify_ssl = true
name = "<%= projectName %>"

[scripts]
build = "setup.py sdist bdist_wheel --dist-dir ../../dist/<%= projectName %>"
<% if (format) { %>format = "python3 -m <%= formatCmd %>"<% } %>
<% if (lint) { %>lint = "python3 -m <%= lintCmd %>"<% } %>
test = "python3 -m <%= testCmd %>"
serve = "python3 main.py"

[packages]

[dev-packages]

[requires]
python_version = "<%= pythonVersion %>"
